.classpath
.dockerignore
.env
.env.*
.git
.gitignore
.project
.settings
.toolstarget
.vs
.vscode
.next
.cache
.archive
docker-compose*
compose.y*ml
Dockerfile*
node_modules
npm-debug.log
vendor
/public/storage
/public/hot
LICENSE
README.md
/playwright
/playwright-report
/e2e
/tests
/scripts
/archive
playwright.config.ts
phpunit.xml
/test-results